.header_component {
  height: 2.5rem;
  background-color: #0c0c0c;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.header_name {
  color: #df0c15;
  font-size: 2rem;
  padding-right: 2rem;
  font-family: "Bebas Neue", cursive;
}
.header_option {
  color: white;
  margin: 0.43rem;
  font-size: 1rem;
}
.header_option:hover {
  cursor: pointer;
  color: grey;
}
.header_profile_name {
  color: white;
}
.header_group1,
.header_group2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_searchbar{
  padding: .63rem 0;
}
.header_searchbar input{
  border-radius: .2rem;
  font-size: 1rem;
  padding: .1rem;
  outline: none;
  border: none;
}
.header_profile_name {
  padding: 0 0.63rem;
}
