.row {
    color: white;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
  }
  
  .row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1.2rem;
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: .6rem;
    transition: transform 450ms;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
  }
  
  .row_posterLarge {
    max-height: 250px;
  }
  
  .row_posterLarge:hover {
    transform: scale(1.09);
  }